#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

Redirect permanent  "/httpclient-3.x"                  "/httpclient-legacy"
Redirect permanent  "/httpcomponents-asyncclient"      "/httpcomponents-asyncclient-4.1.x"
Redirect permanent  "/httpcomponents-asyncclient-ga"   "/httpcomponents-asyncclient-4.1.x"

Redirect permanent  "/httpcomponents-core-5.0.x"       "/httpcomponents-core-5.3.x"
Redirect permanent  "/httpcomponents-core-5.1.x"       "/httpcomponents-core-5.3.x"
Redirect permanent  "/httpcomponents-core-5.2.x"       "/httpcomponents-core-5.3.x"
Redirect permanent  "/httpcomponents-core"             "/httpcomponents-core-5.3.x"
Redirect permanent  "/httpcomponents-core-ga"          "/httpcomponents-core-5.3.x"
Redirect permanent  "/httpcomponents-client-5.0.x"     "/httpcomponents-client-5.5.x"
Redirect permanent  "/httpcomponents-client-5.1.x"     "/httpcomponents-client-5.5.x"
Redirect permanent  "/httpcomponents-client-5.2.x"     "/httpcomponents-client-5.5.x"
Redirect permanent  "/httpcomponents-client-5.3.x"     "/httpcomponents-client-5.5.x"
Redirect permanent  "/httpcomponents-client-5.4.x"     "/httpcomponents-client-5.5.x"
Redirect permanent  "/httpcomponents-client"           "/httpcomponents-client-5.5.x"
Redirect permanent  "/httpcomponents-client-ga"        "/httpcomponents-client-5.5.x"