Redirect permanent  "/httpclient-3.x"                  "/httpclient-legacy"
Redirect permanent  "/httpcomponents-asyncclient"      "/httpcomponents-asyncclient-4.1.x"
Redirect permanent  "/httpcomponents-asyncclient-ga"   "/httpcomponents-asyncclient-4.1.x"

Redirect temp       "/httpcomponents-core-5.0.x"       "/httpcomponents-core-5.1.x"
Redirect temp       "/httpcomponents-core"             "/httpcomponents-core-5.1.x"
Redirect temp       "/httpcomponents-core-ga"          "/httpcomponents-core-5.1.x"
Redirect temp       "/httpcomponents-client-5.0.x"     "/httpcomponents-client-5.1.x"
Redirect temp       "/httpcomponents-client"           "/httpcomponents-client-5.1.x"
Redirect temp       "/httpcomponents-client-ga"        "/httpcomponents-client-5.1.x"

Redirect temp       "/httpcomponents-core-dev"         "/httpcomponents-core-5.1.x"
Redirect temp       "/httpcomponents-client-dev"       "/httpcomponents-client-5.1.x"
